<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.jd.mapper.AllOrdersInfoMapper" >
    <resultMap id="BaseResultMap" type="org.lanqiao.jd.entity.AllOrdersInfo" >
        <id column="order_detail_id" property="order_detail_id" jdbcType="INTEGER" />
        <result column="order_id" property="order_id" jdbcType="INTEGER" />
        <result column="pro_id" property="pro_id" jdbcType="INTEGER" />
        <result column="pro_num" property="pro_num" jdbcType="INTEGER" />
        <result column="pro_price" property="pro_price" jdbcType="DECIMAL" />
        <result column="user_id" property="user_id" jdbcType="INTEGER" />
        <result column="total" property="total" jdbcType="INTEGER" />
        <result column="order_time" property="order_time" jdbcType="TIMESTAMP" />
        <result column="order_status" property="order_status" jdbcType="VARCHAR" />
        <result column="receive_id" property="receive_id" jdbcType="INTEGER" />
        <result column="pro_name" property="pro_name" jdbcType="VARCHAR" />
        <result column="receive_name" property="receive_name" jdbcType="VARCHAR" />
        <result column="receive_tel" property="receive_tel" jdbcType="VARCHAR" />
        <result column="postal_code" property="postal_code" jdbcType="INTEGER" />
        <result column="province" property="province" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="district" property="district" jdbcType="VARCHAR" />
        <result column="address_name" property="address_name" jdbcType="VARCHAR" />
        <result column="is_default" property="is_default" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
    order_id, user_id, total, order_time, order_status, receive_id,pro_name,pro_price,pro_num,order_id,pro_id,order_detail_id,receive_name, receive_tel, postal_code, province, city, district,
    address_name, is_default
  </sql>
    <select id="getAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    o.order_id,  o.user_id, o.total, o.order_time, o.order_status, o.receive_id,p.pro_name,od.pro_price,od.pro_num,od.pro_id,od.order_detail_id,a.receive_name, a.receive_tel,a.postal_code, a.province, a.city, a.district,
    a.address_name, a.is_default
    from orderdetail od , orders o, product p,useraddress a
    where o.order_id = #{order_detail_id,jdbcType=INTEGER} and od.order_id=o.order_id and od.pro_id =p.pro_id and a.receive_id=o.receive_id
    </select>
    <update id="updataOrders" parameterType="org.lanqiao.jd.entity.Orders" >
        update orders
        <set >
            <if test="user_id != null" >
                user_id = #{user_id,jdbcType=INTEGER},
            </if>
            <if test="total != null" >
                total = #{total,jdbcType=INTEGER},
            </if>
            <if test="order_time != null" >
                order_time = #{order_time,jdbcType=TIMESTAMP},
            </if>
            <if test="order_status != null" >
                order_status = #{order_status,jdbcType=VARCHAR},
            </if>
            <if test="receive_id != null" >
                receive_id = #{receive_id,jdbcType=INTEGER},
            </if>
        </set>
        where order_id = #{order_id,jdbcType=INTEGER}
    </update>
    <select id="selectNearlyId" resultType="org.lanqiao.jd.entity.Orders">
           SELECT order_id FROM orders ORDER BY order_id DESC LIMIT 1
 </select>
</mapper>
