#container{

    width: 990px;


    position: absolute;
    left: 265px;
    top: 137px;
}
#con1{
    height: 116px;
    width: 990px;

}
#con2{
    height: 42px;
    width: 990px;

}
#con3{
     height: 40px;
     width: 990px;

 }
#con4{
      height: 30px;
      width: 600px;
    border:2px solid;
  }
.re_name{
    height: 30px;
    width: 50px;

    float: left;
}
.re_tel{
    height: 30px;
    width: 75px;

    float: left;
}
.re_ad{
    height: 30px;
    width: 200px;
    float: left;

}
#con5{
       height: 28px;
       width: 990px;

   }
#con6{
        height: 18px;
        width: 990px;

    }
#con7{
    height: 40px;
    width: 990px;

}
#con8{
     height: 40px;
     width: 990px;

 }
#con9{
    position: relative;
    left: 10px;
    top: 10px;
    float: left;
    height: 30px;
    width: 90px;

}
#con10{
    position: relative;
    left: 40px;
    top: 10px;
    float: left;
    height: 30px;
    width: 90px;

}
#con11{
    height: 40px;
    width: 990px;

    float: left;
}
 .ch1{
     position: relative;
     left: 0px;
     top: 10px;
 }
 .ch2{
     position: relative;
     left: 40px;
     top: 20px;
 }
 .ch3{
     position: relative;
     left: 60px;
     top: 10px;
 }
 .ch4{
     position: relative;
     left: 75px;
     top: 0px;
 }
 .ch5{
     position: relative;
     left: 10px;
     top: 15px;
 }
.pay{
    position: relative;
    left: 5px;
    top: 5px;
}
#order{
    height: 40px;
    width: 990px;

}
#order1{
    height: 60px;
    width: 600px;
    border:2px solid;
    float: left;
}
#order2{
    height: 60px;
    width: 600px;

}
#order3{
    height: 60px;
    width: 600px;

    float: left;
}
.pro_img
{
    height: 60px;
    width: 100px;

    float:left;
}
.pro_id
{
    height: 60px;
    width: 100px;

    float:left;
}
.pro_name{
    height: 60px;
    width: 100px;

    float: left;
}
.pro_price{
    height: 60px;
    width: 100px;

    float:left;
}
.pro_num {
    height: 60px;
    width: 100px;

    float: left;
}

#1{

    width: 600px;
}
#2{

    width: 600px;
}
