#container{

    width: 990px;

    position: absolute;
    left: 265px;
    top: 30px;
}
#con1{
    height: 116px;
    width: 990px;

}
#con2{
    width: 990px;

}
#con3{
    height: 40px;
    width: 990px;
    border:2px solid;
    background-color:#999999;
}
#con4{
    width: 990px;
}
#con5{
    border:2px solid;
    height: 40px;
    width: 990px;
    background-color: #cccccc;
    border:2px solid;
}
#con6{
    height: 50px;
    width: 990px;
    background-color: white;
    border:1px solid;
}
.detail{
    height: 40px;
    width: 600px;

    float: left;
}
.recevice{
    height: 40px;
    width: 100px;

    float: left;
}
.total{
    height: 40px;
    width: 100px;

    float: left;
}
.status{
    height: 40px;
    width: 100px;

    float: left;
}
.time{
    height: 40px;
    width: 300px;

    float: left;
}
.id{
    height: 40px;
    width: 300px;

    float: left;
}
.product{
    height: 40px;
    width: 500px;

    float: left;
}
.num{
    height: 40px;
    width: 100px;

    float: left;
}